@import "../../../App";

.bubble-wrapper {
  position: absolute;
  width: 20em;
  height: 100vh;
  display: flex;
  align-items: center;

  &.disappear {
    .bubble {
      transition: opacity 0.5s;
      opacity: 0;

      .avatar-wrapper {
        transition: width 0.5s;
        width: 66%;
      }
    }

    .go-page {
      transition: width 1.5s, left 1.5s, background-color .25s;
      width: 2em;
      left: calc(50% - 1em);
    }
  }
  &:not(.disappear) {
    .bubble {
      transition: opacity 1.5s;
      opacity: 1;

      .avatar-wrapper {
        transition: width 1.5s;
        width: 100%;
      }
    }

    .go-page {
      transition: width 1s, left 1s, background-color .25s, color .25s, box-shadow .25s, transform .5s;
      width: 12em;
      left: calc(50% - 6em);
    }
  }

  &.text-bubble-wrapper {
    margin: 0 calc(20% - 10em);

    &:not(.disappear) {
      .bubble {
        transition-delay: 1.5s;

        .avatar-wrapper {
          transition-delay: 1.5s;
          width: calc(100% + 3rem);
        }
      }

      .go-page {
        transition-delay: 1.5s;
      }
    }
  }

  &.menu-bubble-wrapper {
    margin: 0 calc(80% - 10em);
  }

  .bubble {
    transition: opacity 2s;
    position: relative;
    background: rgba(white, .66);
    z-index: 3;
    cursor: pointer;
    border-radius: 1.5em;
    border: .2em solid $dark-orange;

    .bubble-text {
      color: $dark-purple;
      font-size: 1.25em;
    }


    .avatar-wrapper {
      color: $dark-purple;
      font-size: 1em;
      white-space: nowrap;
      overflow: hidden;

      .avatar-icon {
        border-radius: 50%;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
      }

      .avatar-name {
        color: $light-yellow;
        background-color: $dark-orange;
        font-size: 1.25em;
        height: 3rem;
        line-height: 3rem;
        z-index: 1;
      }
    }

    &.text-bubble {
      margin-bottom: 2rem;
      padding: 1em;
      .avatar-wrapper {
        height: 4rem;
        margin-left: auto;
        margin-bottom: -5rem;
        margin-right: -3rem;
        padding-top: 1em;
      }

      .avatar-icon {
        height: 4rem;
        width: 4rem;
        margin-left: auto;
        background-image: url("../../../../public/avatar-jpeg.jpg");
      }

      .avatar-name {
        padding-left: 1.2rem;
        border-radius: 0.5rem 2rem 2rem 2rem;
        margin-top: -3.5rem;
      }
    }

    &.menu-bubble {
      margin-top: 2rem;
      padding: 1em 1em 3em 1em;
      .avatar-wrapper {
        height: 3rem;
        margin-top: -4.5rem;
        margin-left: 0;
        padding-bottom: 1em;
      }

      .avatar-icon-wrapper {
        height: 3rem;
        width: 3rem;
        margin-left: 1rem;
        color: $light-yellow;

        .avatar-icon {
          margin-top: .5rem;
          height: 2rem;
          width: 2rem;
        }
      }

      .avatar-name {
        text-align: right;
        padding-right: 1.2rem;
        border-radius: 2rem 2rem 0.5rem 2rem;
        margin-top: -3rem;
      }
    }
  }
}

.go-page {
  background-image: url("../../../../public/pointer-sandwich.svg");
  background-position: center;
  background-size: 120% 600%;
  position: absolute;
  height: 2em;
  bottom: -1em;
  line-height: 2em;
  text-align: center;
  drop-shadow: 0 0 1em $dark-purple;
  border: 10px solid red;
  background-color: $dark-orange;
  color: $light-yellow;
  border: none;
  font-size: 1.25em;
  border-radius: 1em;
  z-index: 3;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;

  &:hover {
    background-color: $purple;
    box-shadow: 0 0 1em $purple;
  }
}