@font-face {
  font-family: BANDAR;
  src: url("fonts/bandar-font/Bandar.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: BANDAR;
  src: url("fonts/bandar-font/BandarBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: COMFORTAA;
  src: url("fonts/comfortaa/Comfortaa-Light.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: COMFORTAA;
  src: url("fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: COMFORTAA;
  src: url("fonts/comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}