@import "../../../App";

.chess-board-wrapper {
  height: 32em;
  width: 32em;
  position: absolute;
  top: calc(50% - 18.2em);
  left: calc(50% - 18.2em);
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 0 0.2em rgb($shadow);
  background-color: rgba($contrast-primary, .5);
  padding: 2em;
  border-radius: .5em;

  .bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(50% - 18em);
    left: calc(50% - 18em);
    background-image: url("../../../../public/categoryImages/chess/bg.jpg");
    background-position: center;
    background-size: 100%;
  }

  &.black-player-view {
    flex-direction: column;

    .chess-row {
      flex-direction: row-reverse;
    }
  }

  .chess-row {
    display: flex;
    flex-direction: row;
  }
}