@import "../../../App";

.promotion-window {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba($contrast-primary, 0.5);
  border-radius: .2em;
  width: 4em;
  height: 16em;
  left: calc(50% - 24em);
  top: calc(50% - 17em);
  position: absolute;
  font-size: 1em;

  .chess-piece {
    font-size: 2.5em;
    text-align: center;
    &.chess-piece-white {
      filter: drop-shadow(0 0 1px rgb($shadow));
      .icon {
        background-color: rgb($chess-piece-white);
      }
    }

    &.chess-piece-black {
      .icon {
        color: rgb($chess-piece-black);
      }
    }
  }
}