@import "../../../App";

.chess-square {
  height: 4em;
  width: 4em;
  box-sizing: border-box;
  border-radius: .2em;
  display: flex;
  align-items: center;
  justify-content: center;

  .possible-move {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba($purple, .75);
    border-radius: 50%;
  }


  .possible-move-with-piece {
    position: absolute;
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
    box-shadow: inset 0 0 .5em .5em rgba($purple, .75);
  }

  .king-piece-thread {
    position: absolute;
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
    box-shadow: inset 0 0 .5em .5em rgba($dark-purple, .75);
  }

  &.clicked-square {
    border: 0.25em solid rgba($purple, .75);
  }

  &.chess-square-black {
    background-color: $dark-orange;

    &.last-move-from, &.last-move-to {
      box-shadow: inset 0 0 .5em .1em rgba($purple, .75);
    }
  }

  &.chess-square-white {
    background-color: $light-yellow;

    &.last-move-from, &.last-move-to {
      box-shadow: inset 0 0 .5em .1em rgba($dark-purple, .75);
    }
  }

  .chess-piece {
    font-size: 2.5em;
    text-align: center;
    z-index: 2;
    &.chess-piece-white {
      color: white;

      path {
        stroke: $dark-purple;
        stroke-width: .2em;
      }
    }

    &.chess-piece-black {
      color: $dark-purple;
    }
  }
}