@import "../../../App";

.chess-message-wrapper {
  width: 16em;
  padding: 1em;
  box-sizing: border-box;
  background-color: rgba($contrast-primary, .9);
  border-radius: 1em;
  border: 0.2em solid rgb($common-border-color);
  color: rgb($main-primary);
  z-index: 2;
  position: absolute;
  top: calc(50%);
  left: calc(50% - 8em);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

  .chess-message-icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .5em;
    width: 4em;

    &.win {
      .chess-message-icon {
        background-color: rgb($accent-secondary);
      }
    }


    .stars-wrapper {
      display: flex;
      align-items: end;
      justify-content: center;
      height: 2em;

      .star-left, .star-right {
        font-size: 0.75em;
        margin-bottom: .2em;
        animation: star-side 2s infinite;
      }

      .star-center {
        margin-bottom: .5em;
        animation: star-center 2s infinite;
      }

    }

    .chess-message-icon {
      height: 2em;
      width: 2em;
      font-size: 1.5em;
      background-color: rgb($main-primary);
    }

  }

  .chess-message {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chess-message-label {
      font-weight: bold;
      text-align: center;
    }

    .play-again-button {
      button {
        color: rgb($main-primary);
        background-color: transparent;
        border: none;
        text-decoration: underline;
        margin-top: 0.5em;
        cursor: pointer;
      }
    }

  }
}

@keyframes star-side {
  0% {font-size: 0.75em; background-color: rgb($accent-secondary);}
  66% {font-size: .66em; background-color: rgb($accent-primary);}
  100% {font-size: 0.75em; background-color: rgb($accent-secondary);}
}

@keyframes star-center {
  0% {font-size: 0.9em; background-color: rgb($accent-primary);}
  66% {font-size: 1.1em; background-color: rgb($accent-secondary);}
  100% {font-size: 0.9em; background-color: rgb($accent-primary);}
}