@import "../../../App";

.promotion-window {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba($contrast-primary, 0.5);
  border: 0.2em solid rgb($common-border-color);
  border-radius: .5em;
  width: 4em;
  height: 16em;
  left: calc(50% - 22em);
  top: calc(50% - 17.2em);
  position: absolute;
  font-size: 1em;

  .vw-portrait & {
    flex-direction: row;
    height: 4em;
    width: 16em;
    top: calc(50% - 22em);
    left: calc(50% - 17.2em);
  }

  .chess-piece {
    font-size: 2.5em;
    text-align: center;
    line-height: 1.6em;
    &.chess-piece-white {
      filter: drop-shadow(0 0 1px rgb($shadow));
      .icon {
        background-color: rgb($chess-piece-white);
      }
    }

    &.chess-piece-black {
      .icon {
        color: rgb($chess-piece-black);
      }
    }
  }
}