@import "../../../App";

.chess-board-wrapper {

  &.black-player-view {
    flex-direction: column;
    .chess-letters {
      &.chess-letters-right, &.chess-letters-left {
        flex-direction: column;
      }
      &.chess-letters-top, &.chess-letters-bottom {
        flex-direction: row-reverse;
      }
    }

  }

  .chess-letters {
    position: absolute;
    display: flex;
    font-weight: bold;
    color: rgb($main-primary);

    .chess-letter {
      font-size: .66em;
      font-family: MusticaPro;
    }

    &.chess-letters-top {
      top: 0;

    }

    &.chess-letters-right {
      right: 0;
    }

    &.chess-letters-bottom {
      bottom: 0;
    }

    &.chess-letters-left {
      left: 0;
    }

    &.chess-letters-top, &.chess-letters-bottom {
      flex-direction: row;
      width: 32em;
      justify-content: space-between;

      .chess-letter {
        width: 6em;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;
      }
    }

    &.chess-letters-right, &.chess-letters-left {
      flex-direction: column-reverse;
      height: 32em;
      justify-content: space-between;

      .chess-letter {
        width: 1.5em;
        height: 6em;
        line-height: 6em;
        text-align: center;
      }
    }
  }
}