@import "../../../App";

.player-window-wrapper {
  width: 8em;
  position: absolute;

  &.active {
    .avatar {
      border-color: rgb($accent-primary);
    }
  }

  .avatar {
    transition: border-color .25s;
    border-style: solid;
    border-color: rgb($setting-card-bg-color);
    border-width: .3em .3em 1.66em .3em;
    border-radius: .5em;
    background-size: cover;
    background-repeat: no-repeat;
    width: 8em;
    height: 8em;
    display: flex;
    align-items: end;

    .avatar-label {
      font-size: .8em;
      text-align: center;
      width: 100%;
      margin-bottom: -1.66em;
      line-height: 1em;
    }

    &.avatar-easy {
      background-image: url("../../../resources/categoryImages/chess/avatars/easy.jpg");
    }
    &.avatar-medium {
      background-image: url("../../../resources/categoryImages/chess/avatars/medium.jpg");
    }
    &.avatar-hard {
      background-image: url("../../../resources/categoryImages/chess/avatars/hard.jpg");
    }
    &.avatar-white {
      background-image: url("../../../resources/categoryImages/chess/avatars/white.jpg");
    }
    &.avatar-random {
      background-image: url("../../../resources/categoryImages/chess/avatars/color.jpg");
    }
    &.avatar-black {
      background-image: url("../../../resources/categoryImages/chess/avatars/black.jpg");
    }
  }

  &.player {
    bottom: calc(50% - 18em);
    left: calc(50% - 27.5em);

    .vw-portrait & {
      bottom: calc(50% - 28.5em);
      left: calc(50% - 18em);
    }
  }
  &.opponent {
    top: calc(50% - 18em);
    right: calc(50% - 27em);

    .vw-portrait & {
      top: calc(50% - 28.5em);
      right: calc(50% - 17.5em);
    }
  }
}