@import "../../core/App";

.game-end {
  position: absolute;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% + 17.5em);
  height: 2em;
  left: calc(50% - 4em);
  border: none;
  color: rgb($main-primary);
  background-color: rgba($contrast-primary, .5);
  border-radius: 0.5em;
  cursor: pointer;
}