@import '../../app.scss';

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $header-height);
  width: 100%;
  overflow: hidden;
  margin-top: $header-height;

  .vw-portrait & {
    margin-top: $header-height * 1.5;
    height: calc(100vh - $header-height * 1.5);
  }
}