@import "../../App";

.landing-page-wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

    .vw-portrait & {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
}