@import "../../App";
@import "PageTurner";
@import "UnusedFornow";

$otlepvaneTime: 1.5s;

.cube-wrapper {
    cursor: pointer;
    position: absolute;
    left: calc(50% - 7em);
    TOP: calc(50% - 7em);
    width: 14em;
    height: 14em;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(-45deg) rotateZ(0deg);
    animation: rotate 20s infinite;
    z-index: 3;

    &.opened {
        .wall-initial {
            box-shadow: none;
            animation: otlepvane $otlepvaneTime linear forwards;

            .wall-inside-wrapper {
                transition-duration: calc($otlepvaneTime / 2), calc($otlepvaneTime / 2);
                transition-delay: calc($otlepvaneTime / 2), calc($otlepvaneTime / 2);
                transition-property: left, top;
                top: -5em;
                left: -5em;

                .wall-inside {


                }
                .wall-inside-under-wrapper {
                    transition-property: top, left;

                    transition-duration: $otlepvaneTime, $otlepvaneTime;
                    left: 103%;

                    .wall-inside-under {
                        transform: scaleX(1) rotateZ(45deg);
                        background-color: $dark-purple;
                    }
                }
            }
        }

        .wall {
            box-shadow: 0 0 1em $purple;

            .wall-label {
                top: -1.4em;
            }

            &.wall-bottom {
                .wall-label {
                    top: unset;
                    bottom: -1.4em;
                }
            }
        }
    }

    &:hover, &.opened {
        .wall {
            box-shadow: 0 0 2em .1em $orange;
            border: 0.2em solid $yellow;

            &.wall-bottom {
                transform: rotateX(-90deg) translateZ(7.4em);
            }

            &.wall-left {
                transform: translateZ(7.4em);
            }

            &.wall-right {
                transform: rotateY(90deg) translateZ(7.4em);
            }
        }

        .wall-initial {
            box-shadow: 0 0 2em .1em $orange;
            border: 0.2em solid $orange;

            &.wall-bottom-initial {
                transform: rotateX(-90deg) translateZ(7.4em) scaleX(-1);

            }

            &.wall-left-initial {
                transform: translateZ(7.4em) scaleX(-1) scaleY(-1);
            }

            &.wall-right-initial {
                transform: rotateY(90deg) translateZ(7.4em) scaleY(-1);
            }
        }
    }

    .wall {
        transition-property: box-shadow, border, transform;
        transition-duration: 1s, 1s, 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: inherit;
        box-sizing: border-box;
        border: 0.2em solid $purple;
        border-radius: 0.3em;
        z-index: 4;

        &:hover {
            cursor: pointer;
        }

        .wall-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            background-size:     cover;                      /* <------ */
            background-repeat:   no-repeat;
            background-position: center center;

            .wall-icon {
                width: 7em;
                height: 7em;
                background-size: cover;
                background-position: center;
            }
        }

        .wall-label {
            position: absolute;
            top: 0;
            width: 8em;
            height: 1.4em;
            text-align: center;
            background-color: $yellow;
            background-size: cover;
            background-position: center;
            font-size: 1.1em;
            z-index: 1;
            transition-property: top, bottom;
            transition-delay: 3s, 3s;
            transition-duration: 1s, 1s;
        }
    }

    .wall-bottom {
        transform: rotateX(-90deg) translateZ(6.9em);

        .wall-content {
            background-image: url("../../../public/walls/castle.png");
            .wall-icon {
                background-image: url("../../../public/walls/castleIcon.svg");
                transform: rotate(45deg);
            }
        }

        .wall-label {
            top: unset;
            bottom: 0em;
        }
    }

    .wall-left {
        transform: translateZ(6.9em);

        .wall-content {
            background-image: url("../../../public/walls/rome.png");
            .wall-icon {
                background-image: url("../../../public/walls/romeIcon.svg");
            }
        }
    }

    .wall-right {
        transform: rotateY(90deg) translateZ(6.9em);

        .wall-content {
            background-image: url("../../../public/walls/chess.png");
            .wall-icon {
                background-image: url("../../../public/walls/chessIcon.svg");
            }
        }
    }

    .wall-initial {
        transition-property: box-shadow, border, transform, opacity;
        transition-duration: 1s, 1s, 1s, 2.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: inherit;
        color: #fff;
        box-sizing: border-box;
        border: 0.2em solid $purple;
        border-radius: 0.3em;
        background: url("../../../public/quantum-gradient.svg") no-repeat center;
        background-size: cover;
        opacity: 1;
        z-index: 5;

        &:hover {
            cursor: pointer;
        }
    }

    .wall-initial {
        transform: rotateX(-90deg) translateZ(6.9em) scaleX(-1);
        clip-path: polygon(0 0, 300% 0, 300% 300%, 0 300%, 0 0, 0 0);
        background: none;
        border: none;
        box-shadow: none;
        .wall-inside-wrapper {
            position: absolute;
            top: -2.9em;
            left: -2.9em;
            width: 19.7988em;
            height: 19.7988em;
            transform: rotateZ(45deg);
            .wall-inside {
                position: absolute;
                top: 2.9em;
                left: 2.9em;
                width: 14em;
                height: 14em;
                transform: rotateZ(-45deg);
                background: url("../../../public/quantum-gradient.svg") no-repeat center;
                background-size: cover;
                box-sizing: border-box;
                border: 0.2em solid $purple;
                box-shadow: 0 0 1em $purple;
            }

            .wall-inside-under-wrapper {
                transition-timing-function: linear, linear;
                position: absolute;
                left: -100%;
                width: 19.7988em;
                height: 19.7988em;

                .wall-inside-under {
                    transition-property: transofrm, background-color;
                    transition-duration: 1s, $otlepvaneTime;
                    position: absolute;
                    margin-top: 2.9em;
                    margin-left: 2.9em;
                    width: 14em;
                    height: 14em;
                    transform: rotateZ(45deg);
                    background-color: $purple;
                    background-size: cover;
                    box-sizing: border-box;
                }
            }
        }
    }

    .wall-left-initial {
        transform: translateZ(6.9em) scaleX(-1) scaleY(-1);
    }

    .wall-right-initial {
        transform: rotateY(90deg) translateZ(6.9em) scaleY(-1);
    }
}

.cube-core{
    position: absolute;
    left: calc(50% - 7em);
    TOP: calc(50% - 7em);
    width: 14em;
    height: 14em;
    border-radius: 50%;
    box-shadow: 0 0 .25em 2em $yellow;
    background-color: $yellow;
    z-index: 2;
    animation: scaleAnim 10s infinite;
    cursor: pointer;
}

.title-text {
    font-family: "MAGIC";
    width: 100%;
    font-size: 2em;
    line-height: 1em;
    z-index: 3;
    position: absolute;
    bottom: 3em;
    color: $purple;
    cursor: pointer;
    text-align: center;
    text-shadow:0 0 0.33em $orange;
    animation: scaleAnim 10s infinite;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes float {
    0% {top: calc(50% - 0.25em);}
    50% {top: calc(50% + 0.25em);}
    100% {top: calc(50% - 0.25em);}
}

@keyframes rotate {
    0% {transform: scale(1) rotateX(30deg) rotateY(-45deg) rotateZ(0deg);}
    25% {transform: scale(1.1)  rotateX(35deg) rotateY(-43deg) rotateZ(0deg);}
    50% {transform: scale(1)  rotateX(30deg) rotateY(-45deg) rotateZ(0deg);}
    75% {transform: scale(1.1)  rotateX(35deg) rotateY(-47deg) rotateZ(0deg);}
    100% {transform: scale(1)  rotateX(30deg) rotateY(-45deg) rotateZ(0deg);}
}

@keyframes scaleAnim {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes otlepvane {
    0% {clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%, 0 0%, 0% 0%);}
    50% {clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 60% 60%); opacity: 1}
    66% {clip-path: polygon(105% 66%, 105% 90%, 100% 100%, 90% 105%, 66% 105%, 90% 90%); opacity: .5}
    70% {opacity: .2}
    75% {clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); opacity: 0}
    100% {opacity: 0}
}

@keyframes cvetence {
    0% {height: 20%; width: 20%}
    60% {height: 90%; width: 90%}
    100% {height: 70%; width: 70%}
}