@import "../../App";

.back-button {
    position: absolute;
    opacity: .75;
    color: rgba($button-text-color, .5);
    transition: opacity .5s, color .5s;
    display: flex;
    z-index: 3;
    margin: .5em;
    cursor: pointer;

    &:hover {
        opacity: 1;
        color: rgb($button-text-color);
    }
    .back-cube {
        width: 4em;
        height: 4em;
        background-image: url("../../../public/cubeBack.png"), radial-gradient(rgb($accent-secondary) 0%, rgb($accent-secondary) 50%, transparent 66%);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: -20em;
        animation: cubeEnter 2s 1s 1 forwards;
    }

    .back-icon {
        opacity: 0;
        height: 4em;
        animation: transparentAppear .5s 2.5s forwards;
    }
}

@keyframes transparentAppear{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes cubeEnter{
    from{margin-left: -20em;}
    to{margin-left: -0.5em;}
}