@import "../core/App";

.back-button {
    position: absolute;
    top: $header-height;
    opacity: .75;
    transition: opacity .5s, color .5s;
    display: flex;
    z-index: 3;
    margin: .5em;
    cursor: pointer;

    .vw-portrait & {
        top: $header-height * 2.5;
        opacity: 1;
        color: rgb($button-text-color);
    }

    &:hover {
        opacity: 1;
        color: rgb($button-text-color);
    }
    .back-cube {
        width: 4em;
        height: 4em;
        background-image: url("../../../public/resources/images/cubeBack.png"), radial-gradient(rgb($accent-secondary) 0%, rgb($accent-secondary) 50%, transparent 66%);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: -20em;
        animation: cubeEnter .5s 1 forwards;
    }

    .back-icon {
        opacity: 0;
        height: 4em;
        width: 2em;
        animation: transparentAppear .5s .5s forwards;
        background-color: rgba($button-text-color, .5);

        .vw-portrait & {
            height: 6em;
            width: 3em;
            background-color: rgb($button-text-color);
            margin-left: 1em;
        }
    }
}

@keyframes transparentAppear{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes cubeEnter{
    from{margin-left: -20em;}
    to{margin-left: 0;}
}