@import "src/App";

.devices-wrapper {

    .device {
        transform: scaleX(0);
        position: absolute;
        width: 15em;
        height: 15em;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0em 1em 1em #00000066);
    }

    .tablet {
        background-image: url("../../../public/svgAssets/deviceSimulatorIcons/tablet.svg");
        transform: rotate(-90deg) scaleX(0);
        left: calc(95vw - 35em);
        top: calc(50% - 10em);
    }

    .smartphone {
        background-image: url("../../../public/svgAssets/deviceSimulatorIcons/phone.svg");
        left: calc(95vw - 25em);
        top: calc(50% - 5em);
    }

    .desktop {
        background-image: url("../../../public/svgAssets/deviceSimulatorIcons/desktop.svg");
        filter: dropShadow(1em 1em 1em white);
        left: calc(95vw - 15em);
        top: calc(50% - 10em);
    }
}