@import "../../App";

.device-simulator-wrapper {
    height: 4em;
    background-color: rgba($contrast-primary, .5);
    position: fixed;
    bottom: .5em;
    left: calc(50% - 8em);
    display: flex;
    padding: 1em;
    border-radius: 1em;
    z-index: 2;

    .layout-native.vw-portrait & {
        display: none;
    }

    .device {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        margin: 0 .2em;

        &.desktop-device {
            background-image: url("../../../public/landing_desktop.svg");
        }

        &.mobile-device {
            background-image: url("../../../public/landing_phone.svg");
        }

        &.tablet-device {
            background-image: url("../../../public/landing_tablet.svg");
        }
    }
}
@media (orientation: landscape) {
    .device-simulator-wrapper {
        font-size: 1vmin;
    }
}

@media (orientation: portrait) {
    .device-simulator-wrapper {
        font-size: 1vmax;
    }
}