@import "../core/App";

.device-rotator-wrapper {
    height: 4em;
    font-size: 3em;
    position: absolute;
    z-index: 2;
    cursor: pointer;

    .icon {
        background-color: rgb($button-text-color);
    }

    .layout-mobile-landscape & {
        top: calc(50% - 0.5em);
        left: -1.1em;
    }

    .layout-mobile-portrait & {
        top: -1.1em;
        left: calc(50% - 0.5em);
    }

    .layout-tablet-landscape & {
        top: calc(50% - 0.5em);
        left: -1.25em;
    }

    .layout-tablet-portrait & {
        top: -1.25em;
        left: calc(50% - 0.5em);
    }
}