@import "../../App";

.header-wrapper {
    background-color: $header-color;
    height: $header-height;
    color: rgb($main-primary);
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 0;

    .vw-portrait & {
        height: $header-height * 1.5;
    }

    .navigation-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .navigation-item {
            padding: 0 1em;
            margin: 0 2em;
            cursor: pointer;
            text-align: center;

            .vw-portrait & {
                font-size: 1.25em;
                margin: 0;
                padding: 1em 0;
                flex: 0 0 25%;
            }

            &:hover {
                //text-decoration: underline;
                color: rgb($accent-secondary);
            }
        }
    }

}