@import "../../App";

$circle-text-padding: 2em;
$outer-radius: 24em;
$outer-offset: $outer-radius / 2;
$inner-radius-landscape: 22em;
$inner-radius-portrait: 18.5em;
$border: calc($outer-radius - $inner-radius-landscape) / 2;
$menu-radius: 6em;


@mixin circleRot($degrees) {
  @for $i from -$degrees through $degrees {
    .dragging {
      .circle-rot#{$i} {
        transition: transform 0s, font-size .25s;
      }
    }
    .circle-rot#{$i} {
      transform: rotate(calc($i + 0deg)) !important;
      .slow-rotation & {
        transition: transform .66s, font-size .25s;
      }

      &.menu-section {
        .vw-portrait & {
          transform: rotate(calc($i + 0deg)) scale(.93) !important;
        }
      }
    }
  }
}

@include circleRot(720deg);

.content-page-wrapper {
  position: relative;
  z-index: 2;
  width:  100%;
  height: 100%;

  &.slow-rotation {
    .box {
      .box-overlay {
        transition: opacity .25s;
        opacity: .66;
      }
    }
  }

  .vw-portrait & {
    font-size: css-min(1.5em, calc(1.33 * var(--calc-vmax)));
  }

  &.dragging {
    .content-outer-circle-sections {
      font-size: .97em;

      .vw-portrait & {
        font-size: .85em;
      }

      .section-edge {
        opacity: 1;
      }
    }

    .content-outer-circle {
      font-size: 1.025em;

      .vw-portrait & {
        font-size: .95em;
      }

      .menu-section {
        color: rgba($section-icon-color, .75);
      }
    }
  }

  .text-sections-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .vw-portrait & {
      flex-direction: column;
    }
  }

  .indicator {
    z-index: 4;
    width: 9em;
    height: 9em;
    border: 1em solid transparent;
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 17em);
    border-radius: 50% 50% 50% 0;
    left: calc(50% - 4.5em);
    transform: rotate(315deg);
    pointer-events: none;

    .vw-portrait & {
      top: calc(50% - 15.5em);
    }

    .indicator-arrow-point {
      background: $indicator-color;
      box-shadow: 0 0 .2em rgb($shadow);
      box-sizing: border-box;
      border-radius: 25% 100% 25% 10%;
      width: 1.6em;
      height: 1.6em;
      margin-left: 1em;
      margin-top: 4.4em;
      transform: rotate(180deg);
      position: absolute;
    }
  }

  .content-outer-circle-sections {
    font-size: .9em;
    animation: outerCircleAppear 2s;
    height: $outer-radius;
    width: $outer-radius;
    position: absolute;
    top: calc(50% - $outer-offset);
    left: calc(50% - $outer-offset);
    z-index: 2;
    pointer-events: none;

    .vw-portrait & {
      font-size: .7em;
    }

    .section-edge{
      transition: opacity .25s;
      opacity: .75;
      height: 1.8em;
      width: 0.2em;
      background-color: rgb($button-text-color);
      border-radius: .5em;
      transform-origin: 0 12em;
      position: absolute;
      top: 0;
      left: 12em;
    }
  }

  .content-outer-circle {
    font-size: .97em;
    animation: outerCircleAppear 1s;
    cursor: grab;
    height: $outer-radius;
    width: $outer-radius;
    position: absolute;
    top: calc(50% - $outer-offset);
    left: calc(50% - $outer-offset);
    background-image: url("../../../public/svgAssets/light-theme/crystal.svg");
    background-size: 125%;
    background-position: center;
    padding: -1em;
    border-radius: 50%;
    z-index: 1;

    .vw-portrait & {
      font-size: .9em;
    }

    .vw-mobile & {
      .menu-section {
        box-shadow: 0 0 0 0.2em rgba($common-border-color, .75);
        color: rgb($section-icon-color);
      }
    }

    &:hover {
      .menu-section {
        box-shadow: 0 0 0 0.2em rgba($common-border-color, .75);
        color: rgba($section-icon-color, .75);
      }
    }

    .menu-section {
      transition: background .25s, box-shadow .125s;
      transform-origin: ($menu-radius / 2) 15em;
      top: -3em;
      left: calc($outer-offset - ($menu-radius / 2));
      color: rgba($section-icon-color, .66);
      background-color: rgb($section-bg-color);
      position: absolute;
      border-radius: 50% 50% 0 0;
      box-sizing: border-box;
      height: $menu-radius;
      width: $menu-radius;
      padding: 1em 1.66em 2.33em 1.66em;

      &:hover {
        color: rgb($section-icon-color);
        cursor: pointer;
      }

      &.selected {
        color: rgb($section-icon-color);
        cursor: grab;
      }

      .menu-icon-wrapper {
        height: 100%;
        width: 100%;

        .menu-icon {
            height: 100%;
            width: 100%;
        }

        .icon-new {
          font-family: BANDAR, sans-serif;
          font-weight: bold;
          position: absolute;
          top: 3.5em;
          right: 0;
          height: 100%;
          width: 100%;
          font-size: .75em;
          color: rgb($accent-primary);
          text-align: center;

          .dark-theme & {
            color: rgb($contrast-primary);
          }
        }
      }
    }
  }
  .box {
    font-family: BANDAR;
    cursor: grab;
    box-sizing: border-box;
    position: absolute;
    height: $inner-radius-landscape;
    width: $inner-radius-landscape;
    top: calc(50% - $inner-radius-landscape / 2);
    left: calc(50% - $inner-radius-landscape / 2);
    border-radius: 50%;
    background-image: url("../../../public/categoryImages/experience/home.jpg");
    background-size: cover;
    border: 0.2em solid rgb($wheel-border-color);
    text-align: center;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;

    &.client_approach {
      background-image: url("../../../public/categoryImages/client/home.jpg");
    }

    .vw-portrait & {
      height: $inner-radius-portrait;
      width: $inner-radius-portrait;
      top: calc(50% - $inner-radius-portrait / 2);
      left: calc(50% - $inner-radius-portrait / 2);
    }

    .box-overlay {
      transition: opacity .25s;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      background-image: url("../../../public/svgAssets/tabletop-spotlight.svg");
      opacity: .5;
      background-size: cover;
      border-radius: 50%;
    }

    .section-title {
      user-select: none;
      font-size: 2em;
      color: rgb($content-header-color);
      text-shadow: 0 0 5px $shadow;
      line-height: 1.5em;
      position: absolute;
      top: calc(50% - 1.5em);
      width: 100%;
      text-align: center;
      z-index: 3;

      .section-title-bottom {
        font-weight: bold;
        text-shadow: 0 0 5px $shadow;
        color: rgb($content-header-secondary-color);
      }
    }
  }
}