@import "../../App";

$circle-text-padding: 2em;
$outer-radius: 28em;
$outer-offset: $outer-radius / 2;
$inner-radius: 22em;
$border: calc($outer-radius - $inner-radius) / 2;
$menu-radius: 6em;


@mixin circleRot($degrees) {
  @for $i from -$degrees through $degrees {
    .dragging {
      .circle-rot#{$i} {
        transition: transform 0s, font-size .25s;
      }
    }
    .circle-rot#{$i} {
      transition: transform 1s, font-size .25s;
      transform: rotate(calc($i + 0deg)) !important;
    }
  }
}

@include circleRot(360deg);

.content-page-wrapper {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: bodyAppear 1s forwards;

  &.dragging {
    .content-outer-circle-sections {
      font-size: 1em;
      .section-edge {
        opacity: 1;
      }
    }

    .content-outer-circle {
      font-size: .97em;
      .menu-section {
        background-color: $light-yellow;
      }
    }
  }

  .text-sections-wrapper {
    height: 50em;
    width: 100vw;
    position: absolute;
    top: calc(50% - 25em);
    display: flex;
    flex-direction: row;
  }

  .indicator {
    z-index: 4;
    width: 9em;
    height: 9em;
    border: 1em solid transparent;
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 17.5em);
    border-radius: 50% 50% 50% 0;
    left: calc(50% - 4.5em);
    transform: rotate(315deg);
    pointer-events: none;
    .indicator-arrow-point {
      background: linear-gradient(45deg, $light-yellow 0%, $dark-purple 100%);
      box-shadow: 0 0 .25em $dark-purple;
      box-sizing: border-box;
      border-radius: 50% 100% 50% 0;
      width: 3.2em;
      height: 3.2em;
      margin-left: -0.6em;
      margin-top: 4.3em;
      transform: rotate(180deg);
      position: absolute;
    }
  }

  .content-outer-circle-sections {
    font-size: .95em;
    animation: outerCircleAppear 2s;
    height: $outer-radius;
    width: $outer-radius;
    position: absolute;
    top: calc(50% - $outer-offset);
    left: calc(50% - $outer-offset);
    z-index: 2;
    pointer-events: none;

    .section-edge{
      transition: opacity .25s;
      opacity: .1;
      height: 2em;
      width: 0.2em;
      background-color: $light-yellow;
      transform-origin: 0.2em ($outer-radius / 2 - 1em - 0.05em);
      position: absolute;
      top: 1em;
      left: calc(($outer-radius / 2) - (0.2em / 2));
    }
  }

  .content-outer-circle {
    font-size: .95em;
    animation: outerCircleAppear 1s;
    cursor: grab;
    height: $outer-radius;
    width: $outer-radius;
    position: absolute;
    top: calc(50% - $outer-offset);
    left: calc(50% - $outer-offset);
    background-image: url("../../../public/wavey-gravy.svg");
    background-size: 300%;
    background-position: center;
    padding: -1em;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 2em -0.5em $purple;


    &:hover {
      font-size: .97em;
    }

    .menu-section {
      transition: background .25s;
      transform-origin: ($menu-radius / 2) (($outer-radius / 2) + ($menu-radius - $border) / 2 + 0.5em);
      top: -2em;
      left: calc($outer-offset - ($menu-radius / 2));
      color: $dark-purple;
      background-color: rgba($light-yellow, .5);
      position: absolute;
      border-radius: 50% 50% 0% 0%;
      box-sizing: border-box;
      height: $menu-radius;
      width: $menu-radius;
      padding: 1em 1.33em 1.66em 1.33em;
      box-shadow: inset 0 0 1em -.5em $dark-purple, 0 0 .25em -0.1em black;

      &:hover {
        background-color: rgba($light-yellow, 1);
        cursor: pointer;
      }

      &.selected {
        background-color: $light-blue;
        border: 0 solid white;
        cursor: grab;
      }

      .menu-icon {
        height: 100%;
        width: 100%;
      }
    }
  }
  .box {
    cursor: grab;
    box-sizing: border-box;
    position: absolute;
    height: $inner-radius;
    width: $inner-radius;
    top: calc(50% - $inner-radius / 2);
    left: calc(50% - $inner-radius / 2);
    border-radius: 50%;
    background-image: url("../../../public/walls/experienceFinal.jpg");
    background-size: cover;
    text-align: center;
    z-index: 2;
    overflow: hidden;

    pointer-events: none;

    .back-button {
      text-align: center;
      opacity: 1;
      position: absolute;
      bottom: -2.5em;
      height: 7em;
      width: 14em;
      left: 4em;
      background-color: $dark-orange;
      color: $dark-purple;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3.5em;
      z-index: 3;

      span {
        font-size: 1.5em;
        margin-top: -1.5em;
      }
    }

    .box-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      background-image: url("../../../public/tabletop-spotlight.svg");
      opacity: .5;
      background-size: cover;
      border-radius: 50%;
    }

    .section-title {
      font-size: 2em;
      color: $light-yellow;
      line-height: 1.5em;
      position: absolute;
      top: calc(50% - 1.5em);
      width: 100%;
      text-align: center;
      z-index: 3;

      .section-title-top {

      }

      .section-title-bottom {
        font-weight: bold;
        color: $light-blue;
      }
    }
  }
}

@keyframes outerCircleAppear{
  0%{font-size: 0.5em}
  30%{font-size: 0.5em}
  100%{font-size: .95em}
}

@keyframes bodyAppear{
  from{opacity: 0}
  to{opacity: 1}
}

@keyframes titleAppear{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes saturateAnim{
  from{filter: saturate(.25);}
  50%{filter: saturate(.75);}
  to{filter: saturate(.25);}
}
