@import "../../App";

$circle-text-padding: 2em;
$outer-radius: 32em;
$outer-offset: $outer-radius / 2;
$inner-radius: 26em;
$border: calc($outer-radius - $inner-radius) / 2;
$menu-radius: 6em;


@mixin circleRot($degrees) {
  @for $i from 0deg through $degrees {
    .circle-rot#{$i} {
      animation: none !important;
      transform: rotate(calc($i + 0deg)) !important;
    }
  }
}

@include circleRot(360deg);

.content-page-wrapper {

  .longer-text {
    height: 32em;
    width: 90vw;
    position: absolute;
    top: calc(50% - 16em);
    left: calc(50% - 45vw);
    display: flex;
    flex-direction: row;

    .text-section {
      border-radius: 8em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 50%;
      background: rgba($light-yellow, .5);

      .wing {
        height: 28em;
        width: 20vw;
        position: absolute;
        background-image: url("../../../public/feder.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.back-wing {
          background-image: url("../../../public/federZad.svg");
        }

        &.top-wing {
          top: -12em;
        }

        &.bottom-wing {
          top: 17em;
        }
      }

      &.text-section-left {
        margin-right: 10em;

        .wing {
          left: 10em;


          &.top-wing {
            transform: scaleX(-1.2) rotate(25deg);
          }

          &.bottom-wing {
            transform: scaleY(-1) scaleX(-1.2) rotate(25deg);
          }
        }

        .content {
          padding: 0 9em 0 3em;
          .content-icon {
            right: calc(50% + 20em);
          }
        }
      }
      &.text-section-right {
        margin-left: 10em;

        .wing {
          right: 10em;

          &.top-wing {
            transform: scaleX(1.2) rotate(25deg);
          }

          &.bottom-wing {
            transform: scaleX(1.2) scaleY(-1) rotate(25deg);
          }
        }

        .content {
          padding: 0 3em 0 9em;
          .content-icon {
            left: calc(50% + 20em);
          }
        }
      }

      .content {
        text-align: center;
        padding: 3em;
        color: $dark-purple;

        .content-title {
          position: relative;
          font-size: 2em;
          height: 1em;
          width: 100%;
          top: -1em;
          margin-bottom: .5em;
          color: $dark-blue;
        }

        .content-icon {
          position: absolute;
          height: 20em;
          width: 20em;
          opacity: 0.25;
          color: $light-blue;
          z-index: -1;
        }
      }
    }
  }

  .indicator {
    z-index: 4;
    width: 9em;
    height: 9em;
    border: 1em solid transparent;
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 19.5em);
    border-radius: 50% 50% 50% 0;
    left: calc(50% - 4.5em);
    transform: rotate(315deg);
    .indicator-arrow-point {
      background: linear-gradient(45deg, $light-yellow 0%, $dark-purple 100%);
      box-shadow: 0 0 .25em $dark-purple;
      box-sizing: border-box;
      border-radius: 50% 100% 50% 0;
      width: 3.2em;
      height: 3.2em;
      margin-left: -0.6em;
      margin-top: 4.3em;
      transform: rotate(180deg);
      position: absolute;
    }
  }

  .hl {
    opacity: .2;
    width: 100vw;
    height: 1em;
    background-color: darkblue;
    z-index: 100;
    position: absolute;
    top: calc(50% - .5em);
  }

  .vl {
    opacity: .2;
    width: 1em;
    height: 100vh;
    background-color: darkblue;
    z-index: 100;
    position: absolute;
    left: calc(50% - .5em);
  }

  .content-outer-circle-sections {
    height: $outer-radius;
    width: $outer-radius;
    position: absolute;
    top: calc(50% - $outer-offset);
    left: calc(50% - $outer-offset);
    z-index: 2;

    .section-edge{
      height: 2em;
      width: 0.2em;
      background-color: $light-yellow;
      transform-origin: (0.2em / 2) ($outer-radius / 2 + 0.05em);
      position: absolute;
      top: -0.1em;
      left: calc(16em - (0.2em / 2));
    }
  }

  .content-outer-circle {
    cursor: grab;
    height: $outer-radius;
    width: $outer-radius;
    position: absolute;
    top: calc(50% - $outer-offset);
    left: calc(50% - $outer-offset);
    background-image: url("../../../public/wavey-gravy.svg");
    background-size: 300%;
    background-position: center;
    padding: -1em;
    border-radius: 50%;
    z-index: 1;

    .menu-section {
      transform: rotate(0deg);
      transform-origin: ($menu-radius / 2) (($outer-radius / 2) + ($menu-radius - $border) / 2 + 0.5em);
      top: -2em;
      left: calc($outer-offset - ($menu-radius / 2));
      color: $dark-purple;
      background-color: $light-yellow;
      position: absolute;
      border-radius: 50% 50% 0% 0%;
      box-sizing: border-box;
      height: $menu-radius;
      width: $menu-radius;
      padding: 1em;
      border: 0.33em solid $dark-purple;

      &.selected {
        background-color: $light-blue;
      }

      .menu-icon {
        height: 100%;
        width: 100%;
      }
    }
  }
  .box {
    box-sizing: border-box;
    border: .33em solid $light-yellow;
    cursor: initial;
    position: absolute;
    height: $inner-radius;
    width: $inner-radius;
    top: calc(50% - $outer-offset);
    left: calc(50% - $outer-offset);
    border-radius: 50%;
    margin: $border;
    background-image: url("../../../public/walls/experienceFinal.jpg");
    background-size: cover;
    text-align: center;
    z-index: 2;

    .box-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      background-image: url("../../../public/tabletop-spotlight.svg");
      opacity: .75;
      background-size: cover;
      border-radius: 50%;
    }

    .section-title {
      font-size: 2em;
      color: $light-yellow;
      line-height: 1.5em;
      position: absolute;
      top: calc(50% - 1.5em);
      width: 100%;
      text-align: center;
      z-index: 3;

      .section-title-top {

      }

      .section-title-bottom {
        font-weight: bold;
        color: $light-blue;
      }
    }
  }
}

@keyframes headerAppear{
  from{flex-basis: 0em;}
  to{flex-basis: $title-height;}
}

@keyframes bodyAppear{
  from{flex-basis: 0%; opacity: 0}
  to{flex-basis: calc(100% - $title-height); opacity: 1}
}

@keyframes titleAppear{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes saturateAnim{
  from{filter: saturate(.25);}
  50%{filter: saturate(.75);}
  to{filter: saturate(.25);}
}