@import "../../App";

$circle-text-padding: 2em;
$outer-radius: 32em;
$outer-offset: $outer-radius / 2;
$inner-radius: 26em;
$border: calc($outer-radius - $inner-radius) / 2;
$menu-radius: 6em;


.text-section {
  border-radius: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
  background-size: cover;
  background-image: url("../../../public/overlapping-blotches.svg");

  .wing {
    height: 28em;
    width: 20vw;
    position: absolute;
    background-image: url("../../../public/feder.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

    &.back-wing {
      background-image: url("../../../public/federZad.svg");
    }

    &.middle-wing {
      background-image: url("../../../public/federMid.svg");
      z-index: 0;
    }

    &.top-wing {
      top: -2em;
    }

    &.middle-wing, &.bottom-wing {
      top: 27em;
    }
  }

  &.text-section-left {

    .wing {
      left: 15em;


      &.top-wing {
        transform: scaleX(-1.3) rotate(15deg);
      }

      &.middle-wing, &.bottom-wing {
        transform: scaleY(-1) scaleX(-1.4) rotate(10deg);
      }
    }

    .content {
      padding: 0 7em 0 3em;
      .content-title {
        left: 4em;
      }
      .content-body {
        padding: 0 9em 0 6em;
      }
      .content-icon {
        right: calc(75% - 7em);
      }
    }
  }
  &.text-section-right {

    .wing {
      right: 15em;

      &.top-wing {
        transform: scaleX(1.3) rotate(15deg);
      }

      &.middle-wing, &.bottom-wing {
        transform: scaleX(1.4) scaleY(-1) rotate(10deg);
      }
    }

    .content {
      padding: 0 3em 0 7em;
      .content-title {
        right: 4em;
      }
      .content-body {
        padding: 0 6em 0 9em;
      }
      .content-icon {
        left: calc(75% - 7em);
      }
    }
  }

  .content {
    text-align: center;
    padding: 3em;
    color: $dark-purple;

    .content-body {
      max-height: 20em;
      overflow-y: auto;
    }

    .content-title {
      position: absolute;
      font-size: 3em;
      height: 1em;
      width: 8em;
      top: 3em;
      color: $dark-blue;
    }

    .content-icon {
      top: calc(50% - 10em);
      position: absolute;
      height: 20em;
      width: 20em;
      opacity: 1;
      z-index: -1;
    }
  }
}