@import "../../App";

$circle-text-padding: 2em;
$outer-radius: 32em;
$outer-offset: $outer-radius / 2;
$inner-radius: 26em;
$border: calc($outer-radius - $inner-radius) / 2;
$menu-radius: 6em;


.text-section {
  position: relative;
  display: flex;
  flex: 1 1 50%;
  background-size: cover;
  background-color: $section-content-color;
  user-select: none;

  .vw-landscape & {
    max-width: 45em;
    height: 20em;
  }

  .vw-portrait & {
    height: calc(50% - 6em);
    max-height: 45em;
    width: 22em;
    border-radius: 1em;
    overflow: hidden;
  }


  &.text-section-left {
    animation: sectionAppearLeft 2s;
    margin: 0 3em 0 1em;

    .vw-landscape & {
      clip-path: polygon(9em 0%, 100% 0%, 100% 100%, 9em 100%, 0% 50%);
    }

    .vw-portrait & {
      margin: 1em 0 3em 0;
    }

    .content {
      text-align: right;

      .content-text {
        .vw-portrait & {
          margin-top: 2em;
          padding: 1em 1em 6.5em 1em;
        }
      }

      .content-title {
        .vw-landscape & {
          text-align: right;
          right: 7em;
        }
      }

      .mask {
        float: left;
        shape-outside: polygon(100% 0, 0 0, 0 100%, 100% 100%, 33% 50%);
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 33% 50%);
        background-position: 48em center;
        transform: translateX(-1em);

        .vw-portrait & {
          clip-path: polygon(100% 100%, 50% 33%, 0 100%, 0 0, 100% 0);
          shape-outside: polygon(100% 100%, 50% 33%, 0 100%, 0 0, 100% 0);
        }
      }

      .mask-dve {
        .vw-landscape & {
          float: right;
          background-position: -55% 0;
          shape-outside: circle(70% at 100% 50%);
          clip-path: circle(100% at 160% 50%);
        }
        .vw-portrait & {
          bottom: 0;
          clip-path: circle(100% at 50% 165%);
        }
      }

      .content-icon {
        left: 0;
      }
    }
  }
  &.text-section-right {
    animation: sectionAppearRight 2s;
    margin: 0 1em 0 3em;

    .vw-landscape & {
      clip-path: polygon(0% 0%, calc(100% - 9em) 0%, 100% 50%, calc(100% - 9em) 100%, 0% 100%);
    }

    .vw-portrait & {
      margin: 3em 0 1em 0;
    }

    .mask {
      float: right;
      shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%, 66% 50%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 66% 50%);
      background-position: -36em center;
      transform: translateX(1em);
    }

    .mask-dve {
      .vw-landscape & {
        float: left;
        background-position: 155% 0;
        shape-outside: circle(70% at 0 50%);
        clip-path: circle(100% at -60% 50%);
      }

      .vw-portrait & {
        clip-path: circle(100% at 50% -65%)
      }
    }

    .content {
      .content-title {

        .vw-portrait & {
          bottom: 0;
        }

        .vw-landscape & {
          text-align: left;
          left: 7em;
        }
      }

      .content-text {
        .vw-portrait & {
          padding: 3em 1em 1em 1em;
          margin: 7em 0 2em 0;
        }
      }

      .content-icon {
        right: 0;
      }
    }
  }

  .content {
    height: 100%;
    color: rgb($main-primary);
    opacity: 0;
    animation: contentAppear 1s 2s forwards;
    box-shadow: inset 0 0 3em -2em rgb($shadow);

    .vw-landscape & {
      width: calc(50vw - 4em);
      max-width: 45em;
      min-width: 30em;
    }

    .vw-portrait & {
      width: 100%;
    }

    .content-text {
      text-align: justify;

      .items-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        border-radius: 2em;
        background-color: rgba(black, 0.25);

        .dark-theme & {
          background-color: rgba(white, 0.25);
        }

        .technology-item {
          font-weight: bold;
          background: rgba($main-primary, .75);
          color: rgb($contrast-secondary);
          border-radius: .5em;
          text-align: center;
          height: 2em;
          margin: .2em;
          padding: .5em;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .logo-item {
          width: 8em;
          height: 4em;
          margin: 0.2em .5em;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;

          &.betclic {
            background-image: url("../../../public/categoryImages/client/companies/betclic.png");
          }

          &.bet365 {
            background-image: url("../../../public/categoryImages/client/companies/bet365.png");
          }

          &.deloitte {
            background-image: url("../../../public/categoryImages/client/companies/deloitte.png");
          }

          &.kbc {
            background-image: url("../../../public/categoryImages/client/companies/kbc.png");
          }

          &.metro {
            background-image: url("../../../public/categoryImages/client/companies/metro.png");
          }

          &.playtech {
            background-image: url("../../../public/categoryImages/client/companies/playtech.png");
          }

          &.raiffeisen {
            background-image: url("../../../public/categoryImages/client/companies/raiffeisen.png");
          }

          &.williamhill {
            background-image: url("../../../public/categoryImages/client/companies/williamhill.png");
          }

        }
      }

      .vw-landscape & {
        font-size: 1.5rem;
        padding-top: 1.5rem;
      }

      .vw-portrait & {
        font-size: 1em;
        overflow: scroll;
        height: calc(100% - 12em);
      }
    }


    .mask {
      //background-color: rgba($main-primary, .25);
      background-image: url("../../../public/portalicus.svg");
      background-size: 500%;
      cursor: pointer;


      .dark-theme & {
        background-image: url("../../../public/portalicus-oposite.svg");
      }

      &:hover {
        background-image: url("../../../public/portalicus-selected.svg");
      }

      .vw-landscape & {
        width: 10em;
        height: 100%;
      }

      .vw-portrait & {
        width: 100%;
        height: 10em;
        display: none; // TODO: remove from controller
      }
    }

    .mask-dve {
      background-image: url("../../../public/categoryImages/experience/home.png");
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.33;
      filter: sepia(1);

      .dark-theme & {
        filter: brightness(2);
        opacity: 1;
      }

      .vw-landscape & {
        width: 13em;
        height: 100%;
      }

      .vw-portrait & {
        position: absolute;
        width: 100%;
        height: 13em;
      }
    }

    .content-body {
      overflow-y: auto;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      font-size: .8em;
    }

    .content-title {
      position: absolute;
      font-size: 1em;
      font-weight: bold;
      color: rgb($main-primary);

      .vw-landscape & {
        font-size: 1.25em;
        top: 1em;
      }

      .vw-portrait & {
        background-image: url("../../../public/portalicus-selected.svg");
        background-size: cover;
        color: rgb($button-text-color);
        text-align: center;
        width: 100%;
        line-height: 2.5em;
      }
    }

    .content-icon {
      color: rgb($main-secondary);
      top: calc(50% - 6em);
      position: absolute;
      height: 12em;
      width: calc(50vw - 10em);
      opacity: .2;
      z-index: -1;
    }
  }
}

@keyframes contentAppear{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes sectionAppearLeft{
  from{background-color: rgba($contrast-primary, 0); margin: 12em 9em 12em 12em;}
  to{background-color: rgba($contrast-primary, 0.5); margin: 12em 9em 12em 1em;}
}

@keyframes sectionAppearRight{
  from{background-color: rgba($contrast-primary, 0); margin: 12em 12em 12em 9em;}
  to{background-color: rgba($contrast-primary, 0.5); margin: 12em 1em 12em 9em;}
}