@import "../../App";

$circle-text-padding: 2em;
$outer-radius: 32em;
$outer-offset: $outer-radius / 2;
$inner-radius: 26em;
$border: calc($outer-radius - $inner-radius) / 2;
$menu-radius: 6em;

.wing {
  height: 28em;
  width: 20vw;
  position: absolute;
  background-image: url("../../../public/feder.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  &.left-wing {
    left: 20em;

    &.top-wing {
      transform: scaleX(-1) rotate(15deg);
      animation: top-left-wing-appear 2s;
    }
    &.bottom-wing {
      transform: scaleY(-1) scaleX(-1) rotate(10deg);
      animation: bot-left-wing-appear 2s;
    }
  }

  &.right-wing {
    right: 20em;

    &.top-wing {
      transform: rotate(15deg);
      animation: top-right-wing-appear 2s;
    }

    &.bottom-wing {
      transform: scaleY(-1) rotate(10deg);
      animation: bot-right-wing-appear 2s;
    }
  }

  &.top-wing {
    background-image: url("../../../public/federZad.svg");
    top: 0em;
  }

  &.bottom-wing {
    top: 25em;
  }
}

@keyframes top-left-wing-appear{
  0%{transform: translateY(15em) translateX(100%) scaleX(-.25) rotate(-30deg); opacity: 0;}
  20%{opacity: 0;}
  100%{transform: translateY(0em) translateX(0%) scaleX(-1) rotate(15deg); opacity: 1;}
}

@keyframes top-right-wing-appear{
  0%{transform: translateY(15em) translateX(-100%) scaleX(.25) rotate(-30deg); opacity: 0;}
  20%{opacity: 0;}
  100%{transform: translateY(0em) translateX(0%) scaleX(1) rotate(15deg); opacity: 1;}
}

@keyframes mid-left-wing-appear{
  0%{transform: translateY(-15em) translateX(120%) scaleX(-1) scaleY(-.25) rotate(-60deg); opacity: 0;}
  20%{opacity: 0;}
  100%{transform: translateY(0em) translateX(0%) scaleX(-1) scaleY(-1) rotate(10deg); opacity: 1;}
}

@keyframes mid-right-wing-appear{
  0%{transform: translateY(-15em) translateX(-120%) scaleY(-.25) rotate(-60deg); opacity: 0;}
  20%{opacity: 0;}
  100%{transform: translateY(0em) translateX(0%) scaleY(-1) rotate(10deg); opacity: 1;}
}

@keyframes bot-left-wing-appear{
  0%{transform: translateY(-15em) translateX(120%) scaleX(0) scaleY(-.75) rotate(-60deg); opacity: 0;}
  20%{opacity: 0;}
  100%{transform: translateY(0em) translateX(0%) scaleX(-1) scaleY(-1) rotate(10deg); opacity: 1;}
}

@keyframes bot-right-wing-appear{
  0%{transform: translateY(-15em) translateX(-120%) scaleX(0) scaleY(-.75) rotate(-60deg); opacity: 0;}
  20%{opacity: 0;}
  100%{transform: translateY(0em) translateX(0%) scaleX(1) scaleY(-1) rotate(10deg); opacity: 1;}
}