@import 'src/components/core/App';

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - $header-height);
  width: 100%;
  overflow: hidden;
  margin-top: $header-height;

  .vw-portrait & {
    margin-top: $header-height * 2.5;
    height: calc(100% - ($header-height * 2.5));
  }
}