@import "../../App";

.chess-page-wrapper {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.game-end {
  position: absolute;
  width: 8em;
  top: calc(50% + 26.5em);
  height: 2em;
  left: calc(50% - 4em);
  border: none;
  background-color: rgba($light-yellow, .5);
  border-radius: 0.5em;
  cursor: pointer;
}