@import "../core/App";

.chess-page-wrapper {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1em;

  .vw-portrait & {
    font-size: css-min(1.285em, calc(1.45 * var(--calc-vmax)));
  }
}