@import "../../App";

.chess-page-wrapper {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;

  .promotion-window {
    display: flex;
    flex-direction: column;
    background-color: rgba($light-yellow, 0.5);
    border-radius: .25em;
    width: 4em;
    height: 17em;
    left: calc(50% - 24em);
    top: calc(50% - 18em);
    position: absolute;
    font-size: 1em;

    .chess-piece {
      font-size: 2.5em;
      text-align: center;
      &.chess-piece-white {
        color: white;

        path {
          stroke: $dark-purple;
          stroke-width: .2em;
        }
      }

      &.chess-piece-black {
        color: $dark-purple;
      }
    }
  }

  .chess-board-wrapper {
    height: 32em;
    width: 32em;
    position: absolute;
    top: calc(50% - 18em);
    left: calc(50% - 18em);
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba($light-yellow, .5);
    padding: 2em;
    border-radius: .5em;

    &.black-player-view {
      flex-direction: column;
      .chess-letters {
        &.chess-letters-right, &.chess-letters-left {
          flex-direction: column;
        }
      }

      .chess-row {
        flex-direction: row-reverse;
      }
    }

    .chess-letters {
      position: absolute;
      display: flex;
      font-weight: bold;
      color: $dark-purple;

      &.chess-letters-top {
        top: 0;

      }

      &.chess-letters-right {
        right: 0;
      }

      &.chess-letters-bottom {
        bottom: 0;
      }

      &.chess-letters-left {
        left: 0;
      }

      &.chess-letters-top, &.chess-letters-bottom {
        flex-direction: row;

        .chess-letter {
          width: 4em;
          height: 2em;
          line-height: 2em;
          text-align: center;
        }
      }

      &.chess-letters-right, &.chess-letters-left {
        flex-direction: column-reverse;

        .chess-letter {
          width: 2em;
          height: 4em;
          line-height: 4em;
          text-align: center;
        }
      }
    }

    .chess-row {
      display: flex;
      flex-direction: row;


      .chess-square {
        height: 4em;
        width: 4em;
        box-sizing: border-box;
        border-radius: .2em;
        display: flex;
        align-items: center;
        justify-content: center;

        .possible-move {
          position: absolute;
          width: 1.5em;
          height: 1.5em;
          background-color: rgba($purple, .75);
          border-radius: 50%;
        }


        .possible-move-with-piece {
          position: absolute;
          width: 3.75em;
          height: 3.75em;
          border-radius: 50%;
          box-shadow: inset 0 0 .5em .5em rgba($purple, .75);
        }

        &.chess-square-black {
          background-color: $dark-orange;

          &.clicked-square {
            border: 0.2em solid $blue;
          }
        }

        &.chess-square-white {
          background-color: $light-yellow;

          &.clicked-square {
            border: 0.2em solid $blue;
          }
        }

        .chess-piece {
          font-size: 2.5em;
          text-align: center;
          &.chess-piece-white {
            color: white;

            path {
              stroke: $dark-purple;
              stroke-width: .2em;
            }
          }

          &.chess-piece-black {
            color: $dark-purple;
          }
        }
      }

    }
  }
}