@import "../../App";

.typewriter-wrapper {
  cursor: pointer;

  &.sped-up {
    cursor: default;
  }

  .typewriter-section{
    height: 1.5em;
    position: relative;
    top: 50%;
    color: rgb($main-primary);
    text-align: center;
    font-size: 1.25em;
    transform: translateY(-50%);
    transition: width 10s, height 10s;

    &.transparent {
      color: transparent;
    }

    &.bold {
      color: rgb($accent-primary);
      font-weight: bold;

        &.transparent {
            color: transparent;
        }
    }
  }

  /* Animation */
  .anim-typewriter{
    margin-left: .2em;
    margin-right: -.285em;
    font-size: 1.25em;
    border-right: 2px solid rgb($main-primary);
    animation: blinkTextCursor 800ms infinite ease-in;
    word-break: break-all;
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgb($main-primary);}
    to{border-right-color: transparent;}
  }
}