@import "../../core/App";



.bubble-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 .75em;
  z-index: 3;

  #contact-card {
    height: 10em;
    width: 25em;
    display: flex;
    position: fixed;
    z-index: 5;
    border-radius: 1em;
    box-shadow: 0 0 1em rgb($shadow);

    .vw-portrait & {
      font-size: 1em;
    }
  }

  #link-text {
    color: rgb($accent-primary);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }

  .emphasis-text {
    color: rgb($accent-primary);
    font-weight: bold;
  }

  .vw-landscape & {
    height: 100%;
    max-width: 20em;
    flex: 0 0 calc(30% - 1.5em);
  }

  .vw-portrait & {
    max-width: 35em;
  }


  &.disappear {
    transition: opacity 0.5s;
    opacity: 0;

    .avatar-wrapper {
      transition: width 0.5s;
      width: 66%;
    }

    .go-page {
      transition: width 1.5s, left 1.5s, background-color .25s;
      width: 8em;
      left: calc(50% - 1em);
    }
  }
  &:not(.disappear) {
    transition: opacity 1.5s;
    opacity: 1;

    .avatar-wrapper {
      transition: width 1.5s;
      width: 100%;
    }

    .go-page {
      transition: width 1s, left 1s, background-color .25s, color .25s, box-shadow .25s, transform .5s;
      width: 12em;
      left: calc(50% - 6em);
    }
  }

  .avatar-wrapper {
    color: rgb($main-primary);
    white-space: nowrap;
    max-width: 14em;
    z-index: 3;

    .vw-portrait & {
      font-size: css-min(1.5em, calc(2 * var(--calc-vmax)));
    }

    .avatar-icon {
      position: relative;
      z-index: 2;
    }

    .avatar-name {
      color: rgb($button-text-color);
      background-image: url("../../../../public/resources/svgAssets/light-theme/crystal.svg");
      background-size: 200%;
      font-size: 1.25em;
      height: 2em;
      line-height: 2em;
      z-index: 1;
      font-family: MusticaPro;

      span {
        font-size: 0.9em;
      }

      .dark-theme & {
        background-image: url("../../../../public/resources/svgAssets/crystalSelected.svg");
      }
    }
  }

  .bubble {
    transition: opacity 2s;
    position: relative;
    background: rgba($contrast-primary, 0.75);
    z-index: 3;
    border-radius: 1em;
    border: .2em solid rgba($common-border-color, 0.85);
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: inset 0 0 1.5em -1em rgb($common-border-color);

    .bubble-text {
      color: rgb($main-primary);
      font-size: 1.25em;
    }

    &.text-bubble {
      font-weight: 100;
      padding: 1em;
    }

    &.menu-bubble {
      font-weight: 100;
      margin-top: .2em;
      padding: 1em 1em 3em 1em;

      .vw-portrait & {
        border-radius: .4em 1em 1em 1em;
      }
    }
  }

  &.text-bubble-wrapper {
    .vw-portrait & {
      margin: 1em .75em 0 .75em;
      height: calc(28%);
      align-items: end;
    }

    .avatar-wrapper {
      height: 4em;

      .avatar-icon {
        margin-top: -0.6em;
        height: 4em;
        width: 4em;
        margin-left: auto;
        background-image: url("../../../../public/resources/images/avatar-jpeg.jpg");
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .avatar-name {
        background-position: -10% 50%;
        padding-left: .8em;
        border-radius: 0.2em 1em 1em 1em;
        margin-top: -2.5em;
      }
    }
    &:not(.disappear) {
      .bubble {
        transition-delay: 1.5s;
      }

      .go-page {
        transition-delay: 1.5s;
      }
    }
  }

  &.menu-bubble-wrapper {
    .vw-portrait & {
      margin: 0 .75em 2em .75em;
      height: calc(38% - 1em);
      align-items: start;
      position: relative;
    }

    .avatar-wrapper {
      height: 3em;

      .avatar-icon-wrapper {
        height: 3em;
        width: 3em;
        margin-left: 1em;

        .avatar-icon {
          margin-top: .7em;
          height: 2em;
          width: 2em;
          background-color: rgb($button-text-color);
        }
      }

      .avatar-name {
        background-position: -50% 50%;
        text-align: right;
        padding-right: .8em;
        border-radius: 1em 1em 0.2em 1em;
        margin-top: -2em;

        .vw-portrait & {
          border-radius: 1em 1em 0.2em 0.2em;
        }
      }
    }
  }
}

.go-page {
  background-image: url("../../../../public/resources/svgAssets/pointer-sandwich.svg");
  background-position: center;
  background-size: 120% 600%;
  line-height: 2em;
  text-align: center;
  background-color: rgb($accent-primary);
  color: rgb($button-text-color);
  border: none;
  font-size: 1.25em;
  border-radius: 1em;
  z-index: 3;
  cursor: pointer;


  .vw-landscape & {
    margin-top: -1.2em;
  }

  .vw-portrait & {
    margin: -1.2em auto 0em auto;
    font-size: 2em;
  }

  &:hover {
    background-color: rgb($accent-secondary);
    box-shadow: 0 0 1em rgb($accent-secondary);
  }
}