@import "../../../App";

.cube-wrapper {
    &.opened {
        .wall {
            transition-property: transform;
            transition-duration: 0s;

            &.wall-bottom {
                transform: rotateX(-90deg) translateZ(7.2em);
            }

            &.wall-top-left {
                transform: translateZ(7.2em);
            }

            &.wall-top-right {
                transform: rotateY(90deg) translateZ(7.2em);
            }
        }
    }

    &.closing {
        .wall {
            opacity: 0;
            transition-property: transform, opacity;
            transition-duration: 1s, 0.25s;
            .wall-content {
                transition-property: border-radius;
                transition-duration: 1s;
                transition-delay: 0s;
                transition-timing-function: ease-out;
                border-radius: 50%;
                border: 0em solid $dark-orange;
                box-shadow: 0 0 0 transparent;

                .wall-content-overlay {
                    transition-property: border-radius, opacity;
                    transition-duration: .5s, 1.5s;
                    transition-delay: .5s, 0s;
                    opacity: 0.5;
                    border-radius: 50%;
                }
            }
            .wall-icon {
                display: none;
            }
        }
        &.BOTTOM {
            .wall {
                &.wall-bottom {
                    opacity: 1;
                }
            }
        }

        &.TOP_LEFT {
            .wall {
                &.wall-top-left {
                    opacity: 1;
                }
            }
        }

        &.TOP_RIGHT {
            .wall {
                &.wall-top-right {
                    opacity: 1;
                }
            }
        }
    }

    &:hover:not(.opened):not(.closing) {
        .wall {

            .wall-content {
                border: 0.33em solid $dark-orange;
            }

            &.wall-bottom {
                transform: rotateX(-90deg) translateZ(7.1em);
            }

            &.wall-top-left {
                transform: translateZ(7.1em);
            }

            &.wall-top-right {
                transform: rotateY(90deg) translateZ(7.1em);
            }
        }
    }

    .wall {
        transition-property: transform;
        transition-duration: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0.15em;
        box-sizing: border-box;
        position: absolute;
        backface-visibility: inherit;
        border-radius: 0.3em;
        z-index: 4;

        .wall-content {
            padding: 1em;
            transition-property: box-shadow, border;
            transition-duration: 1s, 1s;
            box-sizing: border-box;
            border: 0.33em solid $light-yellow;
            border-radius: 6%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            background-size:     cover;                      /* <------ */
            background-repeat:   no-repeat;
            background-position: center center;

            .wall-content-overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;
                background-image: url("../../../../public/tabletop-spotlight.svg");
                opacity: 0;
                background-size: cover;
                border-radius: 100%;
            }

            .wall-icon {
                transition: opacity 1s;
                opacity: 1;
                width: 5em;
                height: 5em;
                background-size: cover;
                background-position: center;
                color: $light-yellow;
                filter: drop-Shadow(0 0 .5em $dark-purple);
            }
        }

        &.wall-bottom {
            transform: rotateX(-90deg) translateZ(6.7em);

            .wall-content {
                background-image: url("../../../../public/walls/chessFinal.jpg");
                .wall-icon {
                    transform: rotate(45deg);
                }
            }
        }

        &.wall-top-left {
            transform: translateZ(6.7em);

            .wall-content {
                background-image: url("../../../../public/walls/clientFinal.jpg");
            }
        }

        &.wall-top-right {
            transform: rotateY(90deg) translateZ(6.7em);

            .wall-content {
                background-image: url("../../../../public/walls/experienceFinal.jpg");
            }
        }

        &.selected {
            .wall-content {
                border: 0.33em solid $dark-orange;
                box-shadow: 0 0 1em 0.3em $dark-orange;
            }

            .wall-icon {
                opacity: 0;
            }
        }
    }
}


