@import "../../../App";

.cube-wrapper {
    &:hover, &.opened {
        .wall {
            .wall-content {
                border: 0.25em solid $light-yellow;
            }

            &.wall-bottom {
                transform: rotateX(-90deg) translateZ(7.2em);
            }

            &.wall-top-left {
                transform: translateZ(7.2em);
            }

            &.wall-top-right {
                transform: rotateY(90deg) translateZ(7.2em);
            }
        }
    }

    .wall {
        transition-property: transform;
        transition-duration: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0.15em;
        box-sizing: border-box;
        position: absolute;
        backface-visibility: inherit;
        border-radius: 0.3em;
        z-index: 4;

        .wall-content {
            padding: 1em;
            transition-property: box-shadow, border;
            transition-duration: 1s, 1s;
            box-sizing: border-box;
            border-radius: 5%;
            border: 0.25em solid $light-yellow;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            background-size:     cover;                      /* <------ */
            background-repeat:   no-repeat;
            background-position: center center;

            .wall-icon {
                transition: opacity 1s;
                opacity: 1;
                width: 5em;
                height: 5em;
                background-size: cover;
                background-position: center;
                color: $light-yellow;
                filter: drop-Shadow(0 0 .5em $dark-purple);
            }
        }

        &.wall-bottom {
            transform: rotateX(-90deg) translateZ(6.7em);

            .wall-content {
                background-image: url("../../../../public/walls/chessFinal.jpg");
                .wall-icon {
                    transform: rotate(45deg);
                }
            }
        }

        &.wall-top-left {
            transform: translateZ(6.7em);

            .wall-content {
                background-image: url("../../../../public/walls/clientFinal.jpg");
            }
        }

        &.wall-top-right {
            transform: rotateY(90deg) translateZ(6.7em);

            .wall-content {
                background-image: url("../../../../public/walls/experienceFinal.jpg");
            }
        }

        &.selected {
            .wall-content {
                border: 0.25em solid $dark-orange;
                box-shadow: 0 0 1em 0.3em $dark-orange;
            }

            .wall-icon {
                opacity: 0;

            }
        }
    }
}


