@import "../../../App";

$peelOffDuration: 2s;

.cube-wrapper {

    &.opened{

        .wall-initial {
            box-shadow: none;
            animation: peelOff $peelOffDuration linear forwards;

            .wall-inside-wrapper {
                transition-duration: calc($peelOffDuration / 2), calc($peelOffDuration / 2);
                transition-delay: calc($peelOffDuration / 2), calc($peelOffDuration / 2);
                transition-property: left, top;
                top: -5em;
                left: -5em;

                .wall-inside-under-wrapper {
                    transition-property: top, left;

                    transition-duration: $peelOffDuration, $peelOffDuration;
                    left: 103%;

                    .wall-inside-under {
                        transform: scaleX(1) rotateZ(45deg);
                        background-color: $dark-orange;
                    }
                }
            }
        }
    }

    &:hover, &.opened {

        .wall-initial {
            box-shadow: 0 0 2em .1em $orange;

            &.wall-bottom-initial {
                transform: rotateX(-90deg) translateZ(8.2em) scaleX(-1);
            }

            &.wall-left-initial {
                transform: translateZ(8.2em) scaleX(-1) scaleY(-1);
            }

            &.wall-right-initial {
                transform: rotateY(90deg) translateZ(8.2em) scaleY(-1);
            }
        }
    }

    .wall-initial {
        transition-property: box-shadow, border, transform, opacity;
        transition-duration: 1s, 1s, 1s, 2.5s;
        transform: rotateX(-90deg) translateZ(6.9em) scaleX(-1);
        clip-path: polygon(0 0, 300% 0, 300% 300%, 0 300%, 0 0, 0 0);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: inherit;
        color: #fff;
        box-sizing: border-box;
        border-radius: 0.3em;
        background: url("../../../../public/quantum-gradient.svg") no-repeat center;
        background-size: cover;
        opacity: 1;
        z-index: 5;
        cursor: pointer;

        .wall-inside-wrapper {
            position: absolute;
            top: -2.9em;
            left: -2.9em;
            width: 19.7988em;
            height: 19.7988em;
            transform: rotateZ(45deg);
            .wall-inside {
                position: absolute;
                top: 2.9em;
                left: 2.9em;
                width: 14em;
                height: 14em;
                transform: rotateZ(-45deg);
                background: url("../../../../public/quantum-gradient.svg") no-repeat center;
                background-size: cover;
                box-sizing: border-box;
                border: 0.2em solid $purple;
                box-shadow: 0 0 1em $purple;
            }

            .wall-inside-under-wrapper {
                transition-timing-function: linear, linear;
                position: absolute;
                left: -100%;
                width: 19.7988em;
                height: 19.7988em;

                .wall-inside-under {
                    transition-property: transofrm, background-color;
                    transition-duration: 1s, $peelOffDuration;
                    position: absolute;
                    margin-top: 2.9em;
                    margin-left: 2.9em;
                    width: 14em;
                    height: 14em;
                    transform: rotateZ(45deg);
                    background-color: $orange;
                    background-size: cover;
                    box-sizing: border-box;
                }
            }
        }
    }

    .wall-left-initial {
        transform: translateZ(6.9em) scaleX(-1) scaleY(-1);
    }

    .wall-right-initial {
        transform: rotateY(90deg) translateZ(6.9em) scaleY(-1);
    }
}

@keyframes peelOff {
    0% {clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%, 0 0%, 0% 0%);}
    50% {clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 60% 60%); opacity: 1}
    66% {clip-path: polygon(105% 66%, 105% 90%, 100% 100%, 90% 105%, 66% 105%, 90% 90%); opacity: .5}
    70% {opacity: .2}
    75% {clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); opacity: 0}
    100% {opacity: 0}
}