@import "../../../App";
@import "../mixins";

@include rotid-xy(50deg, 50deg);

.cube-wrapper {
    cursor: pointer;
    position: absolute;
    left: calc(50% - 7em);
    TOP: calc(50% - 7em);
    width: 14em;
    height: 14em;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(-45deg) rotateZ(0deg);
    transition: transform 4s;
    z-index: 3;

    &.LEFT_ZOOM {
        transform: scale(1.1) rotateX(40deg) rotateY(-35deg) rotateZ(0deg);
    }

    &.RIGHT_ZOOM {
        transform: scale(1.1) rotateX(20deg) rotateY(-55deg) rotateZ(0deg);
    }

    &.opened {
        transition: transform 2s -.1s ease-out;
        transform: rotateX(37deg) rotateY(-45deg) rotateZ(0deg);
        cursor: all-scroll;

        &.BOTTOM {
            transform: rotateX(80deg) rotateY(-45deg) rotateZ(0deg);
        }

        &.TOP_LEFT {
            transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
        }

        &.TOP_RIGHT {
            transform: rotateX(10deg) rotateY(-80deg) rotateZ(0deg);
        }
    }
}