@import "../../../App";
@import "../mixins";

@include rotid-xy(50deg, 50deg);

.loading-element-wrapper {
    flex: 0 0 40%;
    max-width: 32em;

    .vw-portrait & {
        font-size: .9em;
        flex: 0 0 33%;
    }
}

.cube-wrapper {
    cursor: pointer;
    position: absolute;
    left: calc(50% - 7em);
    top: calc(50% - 7em);
    width: 14em;
    height: 14em;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(-45deg) rotateZ(0deg);
    transition-property: transform;
    transition-duration: 4s;
    z-index: 3;

    &.closing {
        transition-property: transform, width, height, left, top;
        transition-duration: .5s, 1s, 1s, 1s, 1s;
        transition-timing-function: linear, ease-out, ease-out, ease-out, ease-out;
        left: calc(50% - 11.2em);
        top: calc(50% - 11.2em);

        &.BOTTOM, &.TOP_LEFT, &.TOP_RIGHT {
            height: 22.4em;
            width: 22.4em;
            opacity: 1;
        }

        &.BOTTOM {
            transform: rotateX(90deg) rotateY(-45deg) rotateZ(0deg);
        }

        &.TOP_LEFT {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }

        &.TOP_RIGHT {
            transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
        }
    }

    &.LEFT_ZOOM {
        transform: scale(1.1) rotateX(40deg) rotateY(-35deg) rotateZ(0deg);
    }

    &.RIGHT_ZOOM {
        transform: scale(1.1) rotateX(20deg) rotateY(-55deg) rotateZ(0deg);
    }

    &.opened {
        // REFACTOR to be smoother
        transition-property: transform;
        transition-duration: 1s;
        transition-delay: -.1s;
        transition-timing-function: ease-out;
        transform: rotateX(37deg) rotateY(-45deg) rotateZ(0deg);
        cursor: all-scroll;

        &.BOTTOM {
            transform: rotateX(80deg) rotateY(-45deg) rotateZ(0deg);
        }

        &.TOP_LEFT {
            transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
        }

        &.TOP_RIGHT {
            transform: rotateX(10deg) rotateY(-80deg) rotateZ(0deg);
        }
    }
}

.rotate-hint-icon {
    width: 30em;
    height: 30em;
    position: absolute;
    left: calc(50% - 15em);
    top: calc(50% - 12em);
    z-index: 10;
    opacity: 0;
    color: rgb($contrast-primary);
    background-image: url("../../../../public/svgAssets/360rotate.svg");
    background-size: cover;
    background-position: top center;
    pointer-events: none;
    animation: blinkRotate 5s infinite;
}

@keyframes blinkRotate{
    0%{opacity: .0;}
    44%{opacity: .5;}
    55%{opacity: .5;}
    100%{opacity: .0;}
}