@import "Constants";

@function img($key) {
  @return $img-root + $key;
}
@function css-function( $function, $values... ) {
  @return
          $function
		+ unquote( '(' )
		+ $values
		+ unquote( ')' )
;
}

@function css-min( $values... ) {
  @return css-function( min, $values );
}

@function css-max( $values... ) {
  @return css-function( max, $values );
}

@function css-clamp( $values... ) {
  @return css-function( clamp, $values );
}

@font-face {
  font-family: MAGIC;
  src: url("../public/fonts/MAGIC.otf") format("opentype");
}

@font-face {
  font-family: BANDAR;
  src: url("../public/fonts/bandar-font/Bandar.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: BANDAR;
  src: url("../public/fonts/bandar-font/BandarBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: VARELA;
  src: url("../public/fonts/varela-font/Varela.ttf") format("truetype");

}

@font-face {
  font-family: GEOSANS;
  src: url("../public/fonts/geo_sans_light/GeosansLight.ttf") format("truetype");
}

@font-face {
  font-family: COMFORTAA;
  src: url("../public/fonts/comfortaa/Comfortaa-Light.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: COMFORTAA;
  src: url("../public/fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: COMFORTAA;
  src: url("../public/fonts/comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}


html {
  font-size: css-min(1vmax, 3px);
  overflow: hidden;
}

body {
  margin: auto;
  width:100%;
  height: 100%;
  font-size: css-max(1vmin, css-min(calc(1.25rem + 0.61vmin), 16px));

  &.vw-portrait {
    font-size: css-max(1vmin, css-min(calc(1.25rem + 1.22vmin), 12px));
  }
}

html {
  font-size: css-min(1vw, 11px);
}

// Targets mobile only. IOS 15 is calculating vmin/vh with tabs bar included that is causing some UI issues
// This code relays on the vh calculated with JS that is more accurate than the CSS calculation
@media screen and (min-aspect-ratio: 16/9) and (pointer:coarse) {
  html {
    font-size: calc(var(--vh) * 1.7);
  }
}

img{
  width: 100%;
  height: 100%;
}

.text-center{
  text-align: center;
}

.background {
  background-image: url("../public/spectrum-triangles.svg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  .dark-theme & {
    background-image: url("../public/spectrum-triangles-oposite.svg");
  }
}


::-webkit-scrollbar-track-piece {
  margin: 0.6em;
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: .3em solid rgb($contrast-primary);
  background-clip: padding-box;
  border-radius: 1em;
  background: rgb($accent-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb($accent-secondary);
}

::-webkit-scrollbar-corner {
  visibility: hidden;
}