$pink: #c6538c;
$blue: #1059b0;
$green: #99e032;
$white: #faecef;
$black: #262325;
$light-black: #2c282b;
$screen-reflect: #d7e5f5;
$screen: #b4c8de;

$dark-purple: #20073a;
$purple: #6D1950;
$pink: #e48686;
$dark-orange: #CD4545;
$orange: #E8893F;
$yellow: #F0D171;
$light-yellow: #f3e0c5;

@font-face {
  font-family: MAGIC;
  src: url("../public/fonts/MAGIC.otf") format("opentype");
}


p {
  color: $white;
  font-size: 2em;
}

body {
  background: $black;
  font-size: 1vmax;
}

.background {
  background: url("../public/gradient-cubes.svg") center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.main-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}