@import "Themes";

html {
  --mobile-height: 80;
  --mobile-width: 40;
  --mobile-scale: 1.5;

  --tablet-height: 75;
  --tablet-width: 60;
  --tablet-scale: 0.8;
}

@media (orientation: portrait) {
  body {
    &.layout-mobile-portrait, &.layout-mobile-landscape {
      --calc-vmin: calc( var(--mobile-width) / 100 * 1vmax);
      --calc-vmax: calc( var(--mobile-height) / 100 * 1vmax);
    }

    &.layout-tablet-portrait, &.layout-tablet-landscape {
      --calc-vmin: calc( var(--tablet-width) / 100 * 1vmax);
      --calc-vmax: calc( var(--tablet-height) / 100 * 1vmax);
    }

    &.layout-native {
      --calc-vmin: calc( 1 * 1vmin);
      --calc-vmax: calc( 1 * 1vmax);
    }
  }
}

@media (orientation: landscape) {
  body {
    &.layout-mobile-portrait, &.layout-mobile-landscape {
      --calc-vmin: calc( var(--mobile-width) / 100 * 1vmin);
      --calc-vmax: calc( var(--mobile-height) / 100 * 1vmin);
    }

    &.layout-tablet-portrait, &.layout-tablet-landscape {
      --calc-vmin: calc( var(--tablet-width) / 100 * 1vmin);
      --calc-vmax: calc( var(--tablet-height) / 100 * 1vmin);
    }

    &.layout-native {
      --calc-vmin: calc( 1 * 1vmin);
      --calc-vmax: calc( 1 * 1vmax);
    }
  }
}

body {
  margin: 0;
  font-family: COMFORTAA, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-size: contain;
  background-position: center;
  &:not(.layout-native) {
    .app-wrapper {
      border-radius: 1em;
    }
  }

  &.layout-mobile-landscape,
  &.layout-mobile-portrait,
  &.layout-tablet-landscape,
  &.layout-tablet-portrait {
    background-image: url("../public/gradient-cubes.svg");
  }
}

button {
  font-family: BANDAR, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  top: 0;

  .app-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

@media (orientation: portrait) {
  .parent-wrapper {
    .layout-mobile-portrait & {
      width: calc(var(--mobile-width) * 1vmax);
      height: calc(var(--mobile-height) * 1vmax);
      margin: calc(50vh - var(--mobile-height) * .5vmax) calc(50vw - var(--mobile-width) * .5vmax);
    }

    .layout-mobile-landscape & {
      width: calc(var(--mobile-height) * 1vmax);
      height: calc(var(--mobile-width) * 1vmax);
      margin: calc(50vh - var(--mobile-width) * .5vmax) calc(50vw - var(--mobile-height) * .5vmax);
    }

    .layout-tablet-portrait & {
      width: calc(var(--tablet-width) * 1vmax);
      height: calc(var(--tablet-height) * 1vmax);
      margin: calc(50vh - var(--tablet-height) * .5vmax) calc(50vw - var(--tablet-width) * .5vmax);
    }

    .layout-tablet-landscape & {
      width: calc(var(--tablet-height) * 1vmax);
      height: calc(var(--tablet-width) * 1vmax);
      margin: calc(50vh - var(--tablet-width) * .5vmax) calc(50vw - var(--tablet-height) * .5vmax);
    }
  }
}

@media (orientation: landscape) {
  .parent-wrapper {
    .layout-mobile-portrait & {
      width: calc(var(--mobile-width) * 1vmin);
      height: calc(var(--mobile-height) * 1vmin);
      margin: calc(50vh - var(--mobile-height) * .5vmin) calc(50vw - var(--mobile-width) * .5vmin);
    }

    .layout-mobile-landscape & {
      width: calc(var(--mobile-height) * 1vmin);
      height: calc(var(--mobile-width) * 1vmin);
      margin: calc(50vh - var(--mobile-width) * .5vmin) calc(50vw - var(--mobile-height) * .5vmin);
    }

    .layout-tablet-portrait & {
      width: calc(var(--tablet-width) * 1vmin);
      height: calc(var(--tablet-height) * 1vmin);
      margin: calc(50vh - var(--tablet-height) * .5vmin) calc(50vw - var(--tablet-width) * .5vmin);
    }

    .layout-tablet-landscape & {
      width: calc(var(--tablet-height) * 1vmin);
      height: calc(var(--tablet-width) * 1vmin);
      margin: calc(50vh - var(--tablet-width) * .5vmin) calc(50vw - var(--tablet-height) * .5vmin);
    }
  }
}