@import "Themes";

html {
  --mobile-height: 80;
  --mobile-width: 40;

  --tablet-height: 75;
  --tablet-width: 60;
}

@media (orientation: portrait) {
  body {
    &.layout-mobile-portrait {
      --calc-vh: calc( var(--mobile-height) / 100 * 1vmax);
      --calc-vw: calc( var(--mobile-width) / 100 * 1vmax);
      --calc-vmax: calc( var(--mobile-height) / 100 * 1vmax);
      --calc-vmin: calc( var(--mobile-width) / 100 * 1vmax);
    }

    &.layout-mobile-landscape {
      --calc-vh: calc( var(--mobile-width) / 100 * 1vmax);
      --calc-vw: calc( var(--mobile-height) / 100 * 1vmax);
      --calc-vmax: calc( var(--mobile-height) / 100 * 1vmax);
      --calc-vmin: calc( var(--mobile-width) / 100 * 1vmax);
    }

    &.layout-tablet-portrait {
      --calc-vh: calc( var(--tablet-height) / 100 * 1vmax);
      --calc-vw: calc( var(--tablet-width) / 100 * 1vmax);
      --calc-vmax: calc( var(--tablet-height) / 100 * 1vmax);
      --calc-vmin: calc( var(--tablet-width) / 100 * 1vmax);
    }

    &.layout-tablet-landscape {
      --calc-vh: calc( var(--tablet-width) / 100 * 1vmax);
      --calc-vw: calc( var(--tablet-height) / 100 * 1vmax);
      --calc-vmax: calc( var(--tablet-height) / 100 * 1vmax);
      --calc-vmin: calc( var(--tablet-width) / 100 * 1vmax);
    }

    &.layout-native {
      --calc-vh: calc( 1 * 1vh);
      --calc-vw: calc( 1 * 1vw);
      --calc-vmax: calc( 1 * 1vmax);
      --calc-vmin: calc( 1 * 1vmin);
    }
  }
}

@media (orientation: landscape) {
  body {
    &.layout-mobile-portrait {
      --calc-vh: calc( var(--mobile-height) / 100 * 1vmin);
      --calc-vw: calc( var(--mobile-width) / 100 * 1vmin);
      --calc-vmax: calc( var(--mobile-width) / 100 * 1vmin);
      --calc-vmin: calc( var(--mobile-height) / 100 * 1vmin);
    }

    &.layout-mobile-landscape {
      --calc-vh: calc( var(--mobile-width) / 100 * 1vmin);
      --calc-vw: calc( var(--mobile-height) / 100 * 1vmin);
      --calc-vmax: calc( var(--mobile-width) / 100 * 1vmin);
      --calc-vmin: calc( var(--mobile-height) / 100 * 1vmin);
    }

    &.layout-tablet-portrait {
      --calc-vh: calc( var(--tablet-height) / 100 * 1vmin);
      --calc-vw: calc( var(--tablet-width) / 100 * 1vmin);
      --calc-vmax: calc( var(--tablet-width) / 100 * 1vmin);
      --calc-vmin: calc( var(--tablet-height) / 100 * 1vmin);
    }

    &.layout-tablet-landscape {
      --calc-vh: calc( var(--tablet-width) / 100 * 1vmin);
      --calc-vw: calc( var(--tablet-height) / 100 * 1vmin);
      --calc-vmax: calc( var(--tablet-width) / 100 * 1vmin);
      --calc-vmin: calc( var(--tablet-height) / 100 * 1vmin);
    }

    &.layout-native {
      --calc-vh: calc( 1 * 1vh);
      --calc-vw: calc( 1 * 1vw);
      --calc-vmax: calc( 1 * 1vmax);
      --calc-vmin: calc( 1 * 1vmin);
    }
  }
}

body {
  margin: 0;
  font-family: COMFORTAA, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-size: 200%;
  background-position: center;
  background-image: url("../public/spectrum-triangles-oposite.svg");
  &.dark-theme {
    background-image: url("../public/spectrum-triangles.svg");
  }
}

button {
  font-family: BANDAR, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//.device-frame {
//  height: 150vmin;
//  width: 60vmin;
//  position: absolute;
//  transform: rotate(270deg);
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: auto;
//  left: 60em;
//  top: -27em;
//  background-image: url("../public/landing_tablet_frame.svg");
//}

.parent-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0vh 0vw;

  .app-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .app-decorator:before {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
  }

  .app-decorator:after {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
  }
}

@media (orientation: portrait) {
  .parent-wrapper {
    .layout-mobile-portrait & {
      width: calc(var(--mobile-width) * 1vmax);
      height: calc(var(--mobile-height) * 1vmax);
      margin: calc(50vh - var(--mobile-height) * .5vmax) calc(50vw - var(--mobile-width) * .5vmax);
    }

    .layout-mobile-landscape & {
      width: calc(var(--mobile-height) * 1vmax);
      height: calc(var(--mobile-width) * 1vmax);
      margin: calc(50vh - var(--mobile-width) * .5vmax) calc(50vw - var(--mobile-height) * .5vmax);
    }

    .layout-tablet-portrait & {
      width: calc(var(--tablet-width) * 1vmax);
      height: calc(var(--tablet-height) * 1vmax);
      margin: calc(50vh - var(--tablet-height) * .5vmax) calc(50vw - var(--tablet-width) * .5vmax);
    }

    .layout-tablet-landscape & {
      width: calc(var(--tablet-height) * 1vmax);
      height: calc(var(--tablet-width) * 1vmax);
      margin: calc(50vh - var(--tablet-width) * .5vmax) calc(50vw - var(--tablet-height) * .5vmax);
    }
  }
}

@media (orientation: landscape) {
  .parent-wrapper {
    .layout-mobile-portrait & {
      width: calc(var(--mobile-width) * 1vmin);
      height: calc(var(--mobile-height) * 1vmin);
      margin: calc(50vh - var(--mobile-height) * .5vmin) calc(50vw - var(--mobile-width) * .5vmin);

      .app-decorator:before {
        width: 100%;
        left: 0;
        top: calc(var(--tablet-height) * 0.05vmin * -1);
        height: calc(var(--tablet-height) * 0.05vmin);
        border-radius: 100% 100% 0 0;
      }

      .app-decorator:after {
        width: 100%;
        left: 0;
        bottom: calc(var(--tablet-height) * 0.05vmin * -1);
        height: calc(var(--tablet-height) * 0.05vmin);
        border-radius: 0 0 100% 100%;
      }
    }

    .layout-mobile-landscape & {
      width: calc(var(--mobile-height) * 1vmin);
      height: calc(var(--mobile-width) * 1vmin);
      margin: calc(50vh - var(--mobile-width) * .5vmin) calc(50vw - var(--mobile-height) * .5vmin);

      .app-decorator:before {
        width: calc(var(--tablet-height) * 0.05vmin);
        left: calc(var(--tablet-height) * 0.05vmin * -1);
        top: 0;
        height: 100%;
        border-radius: 100% 0 0 100%;
      }

      .app-decorator:after {
        width: calc(var(--tablet-height) * 0.05vmin);
        right: calc(var(--tablet-height) * 0.05vmin * -1);
        top: 0;
        height: 100%;
        border-radius: 0 0 100% 100%;
        border-radius: 0 100% 100% 0;
      }
    }

    .layout-tablet-portrait & {
      width: calc(var(--tablet-width) * 1vmin);
      height: calc(var(--tablet-height) * 1vmin);
      margin: calc(50vh - var(--tablet-height) * .5vmin) calc(50vw - var(--tablet-width) * .5vmin);

      .app-decorator:before {
        width: 100%;
        left: 0;
        top: calc(var(--tablet-height) * 0.1vmin * -1);
        height: calc(var(--tablet-height) * 0.1vmin);
        border-radius: 100% 100% 0 0;
      }

      .app-decorator:after {
        width: 100%;
        left: 0;
        bottom: calc(var(--tablet-height) * 0.1vmin * -1);
        height: calc(var(--tablet-height) * 0.1vmin);
        border-radius: 0 0 100% 100%;
      }
    }

    .layout-tablet-landscape & {
      width: calc(var(--tablet-height) * 1vmin);
      height: calc(var(--tablet-width) * 1vmin);
      margin: calc(50vh - var(--tablet-width) * .5vmin) calc(50vw - var(--tablet-height) * .5vmin);

      .app-decorator:before {
        width: calc(var(--tablet-height) * 0.1vmin);
        left: calc(var(--tablet-height) * 0.1vmin * -1);
        top: 0;
        height: 100%;
        border-radius: 100% 0 0 100%;
      }

      .app-decorator:after {
        width: calc(var(--tablet-height) * 0.1vmin);
        right: calc(var(--tablet-height) * 0.1vmin * -1);
        top: 0;
        height: 100%;
        border-radius: 0 0 100% 100%;
        border-radius: 0 100% 100% 0;
      }
    }
  }
}