// Colors in hex format
$black-purple: #0e021a;
$dark-purple: #1c0534;
$purple: #641347;
$dark-orange: #CD4545;
$orange: #E8893F;
$yellow: #F0D171;
$light-yellow: #f6e8d5;

body {
  --black-purple-rgb: 14, 2, 26;
  --dark-purple-rgb: 32, 7, 58;
  --purple-rgb: 100, 19, 71;
  --dark-orange-rgb: 205, 69, 69;
  --orange-rgb: 232, 137, 63;
  --yellow-rgb: 240, 209, 113;
  --light-yellow-rgb: 246, 232, 213;
  --white-rgb: 255, 255, 255;

  --main-primary: var(--dark-purple-rgb);
  --main-secondary: var(--purple-rgb);
  --accent-primary: var(--dark-orange-rgb);
  --accent-secondary: var(--orange-rgb);
  --contrast-primary: var(--light-yellow-rgb);
  --contrast-secondary: var(--yellow-rgb);

  --flower-shadow: var(--main-secondary);
  --common-border-color: var(--main-primary);
  --header-color: var(--contrast-primary);
  --section-content-color: rgba(var(--contrast-primary), 0.75);
  --section-bg-color: var(--contrast-primary);
  --section-icon-color: var(--main-primary);


  &.dark-theme {
    --main-primary: var(--light-yellow-rgb);
    --main-secondary: var(--yellow-rgb);
    --accent-primary: var(--dark-orange-rgb);
    --accent-secondary: var(--orange-rgb);
    --contrast-primary: var(--black-purple-rgb);
    --contrast-secondary: var(--purple-rgb);

    --flower-shadow: var(--orange-rgb);
    --common-border-color: var(--purple-rgb);
    --header-color: var(--black-purple-rgb);
    --section-content-color: rgba(var(--black-purple-rgb), .5);
    --section-bg-color: var(--dark-purple-rgb);
    --section-icon-color: var(--light-yellow-rgb);
  }

  // Constant variables, regardless of theme
  --button-text-color: var(--light-yellow-rgb);
  --content-title-color: var(--light-yellow-rgb);
  --content-title-secondary-color: var(--yellow-rgb);
  --content-outer-circle-color: var(--dark-purple-rgb);
  --cube-accents-color: var(--white-rgb);
  --shadow: var(--dark-purple-rgb);
  --indicator-color: linear-gradient(45deg, rgb(var(--yellow-rgb)) 0%, rgb(var(--orange-rgb)) 100%);
  --setting-card-color: var(--dark-purple-rgb);
  --setting-card-bg-color: var(--light-yellow-rgb);
  --chess-square-white-bg: var(--light-yellow-rgb);
  --chess-square-black-bg: var(--dark-orange-rgb);
  --chess-piece-white: var(--white-rgb);
  --chess-piece-black: var(--dark-purple-rgb);
  --device-frame-colors-start: var(--dark-orange-rgb);
  --device-frame-colors-end: var(--orange-rgb);
  --wheel-border-color: var(--light-yellow-rgb);
}