@import "../../../../App";

.settings-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 calc(41% - 1.25rem);
  justify-content: space-between;

  .setting {
    transition: filter .5s, color .2s, border-color .2s, box-shadow .2s;
    align-items: start;
    width: 9.33em;
    height: 9.33em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    color: rgb($setting-card-color);
    border-color: rgb($setting-card-bg-color);
    border-width: .3em .3em 1.66em .3em;
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    filter: saturate(.33);
    cursor: pointer;
    box-shadow: 0 0 0.2em rgba(black, 0.33);
    font-family: MusticaPro;
    font-weight: bold;

    &:hover {
      filter: saturate(1);
      box-shadow: 0 0 0.33em 0 rgba(black, 0.5);
    }

    &.selected {
      filter: saturate(1);
      border-color: rgb($accent-primary);

      .setting-label {
        background-color: rgb($accent-primary);
      }
    }

    .setting-label {
      background-color: rgb($setting-card-bg-color);
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 1.5em;
      bottom: -1.5em;
    }

    &.setting-easy {
      background-image: url("../../../../../public/resources/categoryImages/chess/avatars/easy.jpg");
    }
    &.setting-medium {
      background-image: url("../../../../../public/resources/categoryImages/chess/avatars/medium.jpg");
    }
    &.setting-hard {
      background-image: url("../../../../../public/resources/categoryImages/chess/avatars/hard.jpg");
    }
    &.setting-white {
      background-image: url("../../../../../public/resources/categoryImages/chess/avatars/white.jpg");
    }
    &.setting-random {
      background-image: url("../../../../../public/resources/categoryImages/chess/avatars/color.jpg");
    }
    &.setting-black {
      background-image: url("../../../../../public/resources/categoryImages/chess/avatars/black.jpg");
    }
  }
}